@font-face {
  font-family: "Epilogue", sans-serif;
  font-weight: 100;
  font-style: normal;
  src: url(./fonts/epilogue.thin.ttf);
}
@font-face {
  font-family: "Epilogue", sans-serif;
  font-weight: 200;
  font-style: normal;
  src: url(./fonts/epilogue.extralight.ttf);
}
@font-face {
  font-family: "Epilogue", sans-serif;
  font-weight: 300;
  font-style: normal;
  src: url(./fonts/epilogue.light.ttf);
}
@font-face {
  font-family: "Epilogue", sans-serif;
  font-weight: 400;
  font-style: normal;
  src: url(./fonts/epilogue.regular.ttf);
}
@font-face {
  font-family: "Epilogue", sans-serif;
  font-weight: 500;
  font-style: normal;
  src: url(./fonts/epilogue.medium.ttf);
}
@font-face {
  font-family: "Epilogue", sans-serif;
  font-weight: 600;
  font-style: normal;
  src: url(./fonts/epilogue.semibold.ttf);
}
@font-face {
  font-family: "Epilogue", sans-serif;
  font-weight: 700;
  font-style: normal;
  src: url(./fonts/epilogue.bold.ttf);
}
@font-face {
  font-family: "Epilogue", sans-serif;
  font-weight: 800;
  font-style: normal;
  src: url(./fonts/epilogue.extrabold.ttf);
}
@font-face {
  font-family: "Epilogue", sans-serif;
  font-weight: 900;
  font-style: normal;
  src: url(./fonts/epilogue.black.ttf);
}
*, *::before, *::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-family: "Epilogue", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

body {
  min-width: 100vW;
  min-height: 100vh;
  color: #fff;
  background-color: #fdf0e9;
  overflow-x: hidden;
}

#root {
  width: 100%;
  height: 100%;
}

.container {
  max-width: 1410px;
  width: 90%;
  margin: 0 auto;
}

header {
  width: 100%;
  height: 400px;
  background-color: #28293e;
}

nav {
  padding: 25px 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
@media (max-width: 1039px) {
  nav {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.logo {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-size: 24px;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1;
  font-style: normal;
  gap: 1em;
  color: #fff;
  text-decoration: none;
}

.logo-icon {
  width: 52px;
  height: 49px;
}
.logo-icon svg {
  width: 100%;
  height: 100%;
  fill: #ef6d58;
}

.menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 5em;
  color: #fff;
}
.menu li {
  list-style: none;
}
.menu li a {
  text-decoration: none;
  color: inherit;
}
@media (max-width: 1040px) {
  .menu {
    display: none;
  }
}

.contact {
  display: block;
  padding: 1em 2em;
  border: 1px solid #fff;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 1;
  font-style: normal;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
}
@media (max-width: 1039px) {
  .contact {
    display: none;
  }
}

.promo {
  margin-top: 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

h1 {
  font-size: 72px;
  font-size: 4.5rem;
  font-weight: 800;
  line-height: 1.8;
  font-style: normal;
}

h2 {
  font-size: 16px;
  font-size: 1rem;
  font-weight: 400;
  line-height: 2;
  font-style: normal;
  text-align: center;
}

h3 {
  font-size: 40px;
  font-size: 2.5rem;
  font-weight: 800;
  line-height: 1.4;
  font-style: normal;
  margin-top: 30px;
}

main .menu {
  margin: 80px 0;
  color: #5c2000;
  text-transform: capitalize;
}
main .menu .active, main .menu li:hover {
  color: #16cd53;
}

.menu__select {
  margin: 80px 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  display: none;
  position: relative;
}
.menu__select select {
  width: 100%;
  height: 48px;
  padding: 0.75rem 2.5rem 0.75rem 1rem;
  border: 1px solid #f3d1bf;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
  background-color: #fff;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: none;
}
.menu__select select option {
  width: 100%;
}
.menu__select > div {
  width: 10px;
  height: 6px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
     -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
       -o-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 20px;
  pointer-events: none;
}
.menu__select > div svg {
  display: block;
  width: 100%;
  height: 100%;
  fill: #ef6d58;
}
@media (max-width: 1039px) {
  .menu__select {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.gallery {
  display: grid;
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  grid-template-columns: repeat(4, 1fr);
}
@media screen and (max-width: 1350px) {
  .gallery {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (max-width: 1050px) {
  .gallery {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 700px) {
  .gallery {
    grid-template-columns: repeat(1, 1fr);
  }
}
.gallery .card {
  width: 100%;
  position: relative;
  padding-top: 100%;
  border: 3px solid #fdf0e9;
  -webkit-border-radius: 10px;
     -moz-border-radius: 10px;
          border-radius: 10px;
  overflow: hidden;
}
.gallery .card img, .gallery .card .brown-layer {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}
.gallery .card .brown-layer {
  background-color: #5c2000;
  opacity: 0.3;
}
.gallery .card:hover {
  border: 3px solid #16cd53;
}
.card-info {
  padding: 10% 15%;
  position: absolute;
  left: 0;
  bottom: 0;
}
.card-info a {
  padding: 0.7rem 1rem;
  background-color: #fff;
  -webkit-border-top-left-radius: 1.2rem;
     -moz-border-radius-topleft: 1.2rem;
          border-top-left-radius: 1.2rem;
  -webkit-border-top-right-radius: 1.2rem;
     -moz-border-radius-topright: 1.2rem;
          border-top-right-radius: 1.2rem;
  -webkit-border-bottom-right-radius: 1.2rem;
     -moz-border-radius-bottomright: 1.2rem;
          border-bottom-right-radius: 1.2rem;
  -webkit-border-bottom-left-radius: 1.2rem;
     -moz-border-radius-bottomleft: 1.2rem;
          border-bottom-left-radius: 1.2rem;
  color: #5c2000;
  text-decoration: none;
}

.more {
  margin: 80px 0 180px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.more a {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 170px;
  height: 48px;
  background-color: #fff;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
  -webkit-box-shadow: 0px 3px 10px rgba(57, 20, 0, 0.1);
     -moz-box-shadow: 0px 3px 10px rgba(57, 20, 0, 0.1);
          box-shadow: 0px 3px 10px rgba(57, 20, 0, 0.1);
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: 800;
  line-height: 1;
  font-style: normal;
  text-decoration: none;
  text-transform: uppercase;
  color: #5c2000;
}